<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Todo App</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper container">
          <a href="#" class="brand-logo">Todo App</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./add-item">Add-Item</a></li>
          </ul>
        </div>
      </nav>
      <div class="container center-align">
          <i class="large material-icons prefix">sentiment_very_dissatisfied
        </i>
        <h1>Ooops!!</h1>
        <h4>404 - PAGE NOT FOUND</h4>
      </div>
    </body>
</html>